

{{!-- for = id --}}
<form method="POST" style="text-align: center;">
  <fieldset>
    <label for="episode" class="col-2">
      Episode:
    </label>
    <input name="episode" id="episode" required value="{{project.episode}}"/>
  </fieldset>
  <fieldset>
    <label for="type" class="col-2">
      Type:
    </label>
    <input name="type" id="type" required value="{{project.type}}"/>
  </fieldset>
  <fieldset>
    <label for="member" class="col-2">
      Member:
    </label>
    <input name="member" id="member" value="{{project.member}}" required />
  </fieldset>
  <button>
    Save
  </button>
</form>